*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    border: solid rgba(128, 128, 128, 0.251);
    width: 15%;
    height: 53vh;
    margin: 15px;
    margin-left: 55px;
    border-radius: 15px;
    background-color: hsla(0, 78%, 91%, 0.539);
    color: rgba(128, 128, 128, 0.872);
    box-shadow: 5px 5px 5px 5px hsla(0, 1%, 48%, 0.13);
}

header{
    border: solid;
    height: 10%;
    border-radius: 15px;
    margin: 15px;   
}

main{
    height: 80%;
    margin: 15px;
    gap: 10px;
}

.child1{
    width: 100%;
    height: 80%;
    display: flex;
}

.child2{
    width: 100%;
    height: 20%;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.row{
    border: solid hsla(0, 78%, 91%, 0);
    width: 100%;    
}

button{
    width: 100%;
    height: 45px;
    margin: 2px;
    border-radius: 100%;
    position: inherit;
    margin-bottom: 15px;
    font-size: large;    
    color: hwb(0 38% 62%);
    background-color: hsla(0, 78%, 91%, 0.539);
    border: solid rgba(131, 100, 100, 0.071);
    
    
}

.n{
    width: 40px; 
    font-size: large;
    margin-bottom: 11px;
    
}

.nol{
    width: 40px; 
    font-size: large;
    margin-bottom: 11px;
}

.equal{
    width: 50%;
    font-size: large;
    border-radius: 32px;
}

h1{
    margin-left: 85%;
}